PORT=8080
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=change_me

STRAPI_URL=http://strapi:1337
STRAPI_PUBLIC_URL=http://strapi:1337
STRAPI_API_TOKEN=
STRAPI_PAGE_SIZE=100

PDF_INDEXER_WEBHOOK_SECRET=change_me
PDF_TEXT_MAX_LENGTH=300000
FULL_REINDEX_ON_START=false
