STRAPI_URL=http://localhost:1337
MEDIA_PUBLIC_ORIGIN=http://127.0.0.1:9000
MEDIA_INTERNAL_ORIGINS=http://minio:9000,http://law_minio:9000
MEILI_URL=http://localhost:7700
MEILI_SEARCH_KEY=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me
PREVIEW_SECRET=change_me_preview
